@charset "UTF-8";
/*компиляция стилей*/
/*цвет*/
/*цвет*/
/*цвет*/
/*цвет*/
/*цвет*/
/*цвет*/
/*цвет*/
body {
  font-family: "Montserrat", sans-serif;
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-light {
  background-color: #f9f6f1;
}

.page-dark {
  background-color: #212121;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  /*центровка*/
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*растянуть элементы по краям */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*центровка элементы по центру блока */
  padding-bottom: 26px;
  padding-top: 29px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  /*убирает точки li*/
  padding-left: 0;
}

.nav-item {
  margin-right: 52px;
  /*(&-это nav)(item пишется внутри блока "nav")*/
}

.nav-link {
  color: #212121;
  /*цвет*/
  text-decoration: none;
  /*убирает подчёркивание "элемента a"*/
}

.cart {
  background-image: url("../svg/korzina.svg");
  padding-left: 45px;
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  /*убрать повторения картинки */
  background-position: 0 center;
  /*центровка блока по центру (по Х-0 и по Y-center)*/
}

.cart-count {
  background-image: url("../svg/cart-bg.svg");
  background-repeat: no-repeat;
  /*убрать повторения картинки */
  background-position: 0 center;
  /*центровка блока по центру (по Х-0 и по Y-center)*/
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 14px 24px;
  display: block;
}

.title-h2 {
  text-align: center;
  /*центровка текста по центру */
  font-size: 36px;
}

.btn {
  background-color: #d7b399;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  /*все буквы заглавные*/
  text-decoration: none;
  /*убирает подчёркивание "элемента a"*/
  padding: 15px 22px;
}

.btn-xs {
  padding: 5px 22px;
}

.btn-center {
  display: block;
  text-align: center;
  /*центровка текста по центру внутри блока*/
  max-width: 200px;
  /*максимальный размер блока*/
  margin: 0 auto;
  /*центровка по центру*/
}

.btn span {
  margin-right: 15px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*растянуть элементы по краям */
}

.main-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.sale-description {
  font-size: 30px;
  letter-spacing: -2, 0px;
}

.sale-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 48px;
}

.box {
  position: relative;
}

.box-price {
  position: absolute;
  top: 42px;
  right: 0;
  text-align: right;
}

.box-price-old {
  font-size: 24px;
  font-weight: 700;
  margin-right: 122px;
}

.box-price-new {
  font-size: 35px;
  font-weight: 700;
  color: #d84033;
  margin-top: 15px;
  margin-right: 128px;
}

.notice {
  text-align: center;
  color: #fff;
  padding: 50px 0;
}

.notice-title {
  font-size: 30px;
  text-transform: uppercase;
}

.notice-title span {
  font-weight: 700;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*растянуть элементы по краям */
}

.collection-item {
  padding: 50px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  /* ширина блока*/
  background-repeat: no-repeat;
  /*убрать повторения картинки */
  background-position: calc(100% - 50px);
  /*сдвиг картинки на право относительно 100%*/
  /* background-position: right bottom;место расположения картинки*/
  background-size: 190px 171px;
  /*размер картинки*/
}

.collection-man {
  background-image: url("/static/images/rectangle3.1.png");
}

.collection-woman {
  background-image: url("/static/images/rectangle3.2.png");
}

.collection-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.collection-description {
  font-size: 16px;
  margin-bottom: 30px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*растянуть элементы по краям */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  /*ширина блока*/
  position: relative;
  /*(&:before,&:after -это элементы по краям картинках)*/
}

.product-item:before, .product-item:after {
  content: "";
  display: block;
  /*(это блок по краям картинке)*/
  width: 100%;
  /*ширина блока*/
  height: 25px;
  /*высота блока*/
  background-size: cover;
  background-repeat: no-repeat;
  /*убрать повторения картинки */
}

.product-item:before {
  background-image: url("/static/svg/item-top.svg");
}

.product-item:after {
  background-image: url("/static/svg/item-botton.svg");
}

.product-title {
  font-weight: 600;
  /*работает с гугловским шрифтом*/
}

.product-price {
  color: #d7b399;
  font-size: 18px;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */